html, body{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  line-height: 1;
}

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* here we can set up custom colors */
@theme {
  --color-theme: #800080;
  --color-theme-dark: #3D0C02;
}